# Dependencies
node_modules/

# Environment variables
.env
.env.development.local
.env.production.local

# Optional npm cache directory
.npm

# IDEs
.vscode/

# .NET
WeatherApp/bin/
WeatherApp/obj/
WeatherApp/**/bin/
WeatherApp/**/obj/
WeatherApp/.vs/

# Frontend build
weather-app-frontend/build/
weather-app-frontend/dist/